html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
  margin: 0;
  padding: 0;
}

img, fieldset {
  border: 0;
}


img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
  display: block;
}


body {
  background: #333333;
  font: .90em/150% "Calisto MT", Times, Serif;
  color: #000;
  
  transition: background-color ease 0.3s;
  -webkit-transition: background-color ease color 0.3s;  */
}
a {
  color: #000;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 0 0 1.2em;
  padding: 0;
}


ul, ol {
  margin: 1em 0 1.4em 24px;
  padding: 0;
  line-height: 140%;
}
li {
  margin: 0 0 .5em 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1.4em;
  margin: 20px 0 .4em;
  color: #000;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}


input[type=search] {
  -webkit-appearance: none;
  outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}


#pagewrap {
  width: 980px;
  margin: 0 auto;
}


#header {
  position: relative;
  height: 160px;
}


#site-logo {
  position: absolute;
  top: 10px;
}
#site-logo a {
  font: bold 30px/100% "Calisto MT", Times, Serif;
  color: #000;
  text-decoration: none;
}


#site-description {
  font: italic 100%/130% "Calisto MT", Times, serif;
  color: #fff;
  position: absolute;
  top: 55px;
}


#searchform {
  position: absolute;
  right: 20px;
  bottom: 15px;
  z-index: 100;
  width: 160px;
}
#searchform #s {
  width: 280px;
  float: right;
  background: #fff;
  border: none;
  padding: 6px 10px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.2);

  -webkit-transition: width .7s;
  -moz-transition: width .7s;
  transition: width .7s;
}


#main-nav {
  width: 100%;
  background: #ccc;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
 
  background:#3BAFDA ;
  background: -webkit-gradient(linear, left top, left bottom, from( #4FC1E9), to(#3BAFDA));
  background: -moz-linear-gradient(top,  #4FC1E9 ,  #3BAFDA );
  background: linear-gradient(-90deg, #000 , #404040 );
 
  -moz-box-shadow: -3px -3px #666;
  -webkit-box-shadow: -3px -3px #666;
  box-shadow: -3px -3px #666;
}
#main-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  position: relative;
}
#main-nav li:first-child {
  margin-left: 10px;
}
#main-nav a {
  line-height: 100%;
  font-weight: none;
  font: normal 150%/120% "Calisto MT", Times, serif;
  color: #000;
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
#main-nav a:hover {
  color: #595959;
  background:#fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#5D9CEC ), to(#4A89DC));
  background: -moz-linear-gradient(top,  #5D9CEC ,  #4A89DC);
  background: linear-gradient(-90deg, #000 , #000);
}


#content {
  background: #666666;
  margin: 30px 0 30px;
  padding: 20px 35px;
  width: 600px;
  float: left;

  -moz-box-shadow: -3px -3px #404040;
  -webkit-box-shadow: -3px -3px #404040;
  box-shadow: -3px -3px #404040;
}


.post {
  margin-bottom: 40px;
}
.post-title {
  margin: 0 0 5px;
  padding: 0;
  font: bold 26px/120% Calisto MT;
}
.post-title a {
  text-decoration: none;
  color: #000;

}
.post-meta {
  margin: 0 0 10px;
  font-size: 90%;
  color:#404040
}


.post-image {
  margin: 0 0 15px;
}

.quote {
  border-left: 4px solid #888;
  padding-left: 10px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  font-style: italic;
}

#sidebar {
  width: 300px;
  float: right;
  margin: 30px 0 40px;
}
.widget {
  background: #404040;
  margin: 0 0 30px;
  padding: 10px 20px;
  -moz-box-shadow: -3px -3px #666;
  -webkit-box-shadow: -3px -3px #666;
  box-shadow: -3px -3px #666;
}
.widgettitle {
  margin: 0 0 5px;
  padding: 0;	
}
.widget ul {
  margin: 0;
  padding: 0;
}
.widget li {
  margin: 0;
  padding: 6px 0;
  list-style: none;
  clear: both;
  border-top: solid 1px #eee;
}


#footer {
  clear: both;
  color: #000;
  font-size: 85%;
  font: Calisto MT
}
#footer a {
  color: #fff;
}


.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }

@media screen and (max-width: 980px) {
    body {
    background: #4A89DC;
  }
  
 
   #pagewrap {
    width: 95%;
  }
  
 
  #content {
    width: 60%;
    padding: 3% 4%;
  }
  
  
  #sidebar {
    width: 30%;
  }
  #sidebar .widget {
    padding: 8% 7%;
    margin-bottom: 10px;
  }
  
 
  .video embed,
  .video object,
  .video iframe {
    width: 100%;
    height: auto;
    min-height: 300px;
  }
  
}


@media screen and (max-width: 730px) {
  
  body {
    background: #E9573F;
  }
  
 
  #header {
    height: auto;
  }
  

  #searchform {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 100;
    height: 40px;
  }
  #searchform #s {
    width: 80px;
  }
  #searchform #s:focus {
    width: 150px;
  }
  
  
  #main-nav {
    position: static;
  }
  
 
  #site-logo {
    margin: 15px 100px 5px 0;
    position: static;
  }
  
 
  #site-description {
    margin: 0 0 15px;
    position: static;
  }
  
 
  #content {
    width: auto;
    float: none;
    margin: 20px 0;
  }
  
 
  #sidebar {
    width: 100%;
    margin: 0;
    float: none;
  }
  #sidebar .widget {
    padding: 3% 4%;
    margin: 0 0 10px;
  }
 
  .video embed,
  .video object,
  .video iframe {
    min-height: 250px;
  }
  
}

@media screen and (max-width: 480px) {
  
  body {
    background: #37BC9B;
  }
  
  
  html {
    -webkit-text-size-adjust: none;
  }
  

  #main-nav a {
    font-size: 90%;
    padding: 10px 8px;
  }
  
}